<div class="container">
    <div class="card-content shadow mb-4">
        <div class="card-header text-center bg-primary text-white text-uppercase">
            Ajout d'un contrat
        </div>
      
    <div class="card-body">
    <form novalidate (ngSubmit)="ajouterContrat()" [formGroup]="contratForm" >

        <div class="form-group row mb-2">
            <label for="contratCautionId" class="col-md-2 col-form-label" >
                Caution
            </label>
            <div class="col-md-8">
                <input 
                 id="contratCautionId"
                 type="number" 
                 class="form-control"
                 formControlName="caution"
                 placeholder="le caution du contrat">
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="contratPrixEffectifId" class="col-md-2 col-form-label" >
                Prix effectif
            </label>
            <div class="col-md-8">
                <input 
                 id="contratPrixEffectifId"
                 type="number" 
                 class="form-control"
                 formControlName="prixEffectif"
                 placeholder="le prix effectif du contrat">
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="contratDateEffectifId" class="col-md-2 col-form-label" >
                Date effectif
            </label>
            <div class="col-md-8">
                <input 
                 id="contratDateEffectifId"
                 type="date" 
                 
                 class="form-control"
                 formControlName="dateEffectif"
                 placeholder="la date effectif du contrat">
            </div>
            
        </div>

        <div class="form-group row mb-2" >
            <label for="dureeEnNbrDeMoisId" class="col-md-2 col-form-label" >
                La durée du contrat
            </label>
            <div class="col-md-8">
                <input 
                  id="dureeEnNbrDeMoisId"
                  type="number"
                  class="form-control"
                  formControlName="dureeEnNbrDeMois"
                  placeholder="la durée du contrat en nombre de mois">
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="descriptionId" class="col-md-2 col-form-label" >
                Description
            </label>
            <div class="col-md-8">
                <input 
                 id="descriptionId"
                 type="textarea"
                 class="form-control"
                 formControlName="description"
                 placeholder="la description du contrat !!!">
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="cliendId" class="col-md-2 col-form-label" >
                Client
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="client">
                    <option value="">Choisissez le client</option>
                    <option *ngFor="let client of clients" [ngValue]="client">{{client.prenom}} {{client.nom}}</option>
                </select>
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="confclientId" class="col-md-2 col-form-label" >
                Confirmez le client
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="clientID">
                    <option value="">Choisissez le client</option>
                    <option *ngFor="let client of clients" [ngValue]="client.idUser">{{client.prenom}} {{client.nom}}</option>
                </select>
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="bienId" class="col-md-2 col-form-label" >
                Bien immobilier
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="bien">
                    <option value="">Choisissez le bien</option>
                    <option *ngFor="let bien of biens" [ngValue]="bien">{{bien.nomBien}}</option>
                </select>
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="confbienId" class="col-md-2 col-form-label" >
                Confirmez le bien
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="bienImmobiliereID">
                    <option value="">Confirmez le bien</option>
                    <option *ngFor="let bien of biens" [ngValue]="bien.idBienImmo">{{bien.nomBien}}</option>
                </select>
            </div>
            
        </div>

        <div class="text-lg-right mt-2">
                <button type="submit"  class="btn btn-outline-primary mr-3">sauvegarder</button>
                <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/contrats">annuler</button>
        </div>
    </form>
</div>
</div>
</div>