<div class="container">
    <div class="card shadow mb-4" *ngIf="etat">
        <div class="card-header text-white text-center bg-primary">
            {{etat.nomEtat| uppercase}}
        </div>
      
      <div class="card-body">
          <div class="row">
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-4">idEtat</div>
                      <div class="col-md-8">{{etat.idEtat}}</div>

                  </div>

                  <div class="row">
                      <div class="col-md-4">Status</div>
                      <div class="col-md-8">{{etat.nomEtat}}</div>

                  </div>

              </div>
       <!--
        <div class="col-md-4">
          <img 
              [src]="bien.imageUrl" 
              [title]="bien.hotelName | titlecase"  
              class="card-img-top" 
              [alt]="bien.hotelName"
          />
        </div>
        -->
      </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-outline-primary d-flex" (click)="backToList()">
            <span class="material-icons">keyboard_arrow_left</span>
            retour à la liste
        </button>
    </div>
</div>
</div>