<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header text-white text-center bg-primary text-uppercase">
            Liste des reclamations
        </div>
        <div class="card-body"></div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
            <thead>
                <tr  class="text-center"><th>Commentaire</th><th>Etat</th><th>Contrat</th><th>Action</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let reclamation of reclamations" class="text-center">
                    
                    <td>{{reclamation.commentaire}}</td>
                    <td>{{reclamation.etat.nomEtat}}</td>
                    <td>{{reclamation.contrat.idContrat}}</td>
                   <!-- <td><a class="btn btn-outline-danger" (click)="deleteVisite(visite)">Supprimer</a></td> -->
                    <td><span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/updateReclamations', reclamation.idReclamation]">
                        edit
                      </span>
                    <span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/reclamations', reclamation.idReclamation]">
                        visibility
                      </span>
                   
                        <span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" (click)="supprimerReclamation(reclamation)">
                            delete
                            </span>
                        <!--<button class="btn btn-outline-danger mr-3" type="button" (click)="deleteVisite(visite)">supprimer</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>