<div class="container">
    <div class="card shadow mb-4">
      <h2 class="card-header text-center bg-primary text-white">Modifier la visite</h2>
    <div class="card-body">
    <form novalidate (ngSubmit)="updateVisite()" [formGroup]="visiteForm" >

        <div class="form-group row mb-2">
            <label for="visiteDateId" class="col-md-2 col-form-label" >
                Date Visite
            </label>
            <div class="col-md-8">
                <input 
                 id="visiteDateId"
                 type="date" 
                 
                 class="form-control"
                 formControlName="dateVisite"
                 placeholder="date de la visite">
            </div>
            
        </div>

        <div class="form-group row mb-2" >
            <label for="heureVisiteId" class="col-md-2 col-form-label" >
                Heure Visite
            </label>
            <div class="col-md-8">
                <input 
                  id="heureVisiteId"
                  type="time" 
                  
                  class="form-control"
                  formControlName="heureVisite"
                  placeholder="heure de la visite">
            </div>
            
        </div>
        <div class="form-group row mb-2">
            <label for="confclientId" class="col-md-2 col-form-label" >
                Client
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="clientID">
                    <option value="">Choisissez le client</option>
                    <option *ngFor="let client of clients" [ngValue]="client.idUser">{{client.prenom}} {{client.nom}}</option>
                </select>
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="confbienId" class="col-md-2 col-form-label" >
                Bien immobilier
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="bienImmobiliereID">
                    <option value="">Confirmez le bien</option>
                    <option *ngFor="let bien of biens" [ngValue]="bien.idBienImmo">{{bien.nomBien}}</option>
                </select>
            </div>
            
        </div>

        <div class="text-lg-right mt-2">
                <button type="submit"  class="btn btn-outline-primary mr-3">sauvegarder</button>
                <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/visites">annuler</button>
        </div>
    </form>
</div>
</div>
</div>