<div class="container">
    <div class="card shadow mb-4" *ngIf="contrat">
        <div class="card-header text-white text-center bg-primary text-uppercase">
            Les details du contrat
        </div>
      
      <div class="card-body">
          <div class="row">
              <div class="col-md-8">

                <div class="row">
                    <div class="col-md-4">Client</div>
                    <div class="col-md-8">{{contrat.clientBean.nom}} {{contrat.clientBean.prenom}}</div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4">Courriel</div>
                    <div class="col-md-8">{{contrat.clientBean.email}}</div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4">Telephone</div>
                    <div class="col-md-8">{{contrat.clientBean.telephone1}}</div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4">Adresse</div>
                    <div class="col-md-8">{{contrat.clientBean.adresse}}</div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4">Ville</div>
                    <div class="col-md-8">{{contrat.clientBean.ville}}</div>

                </div>
                <hr>

                  <div class="row">
                      <div class="col-md-4">Caution (en fcfa)</div>
                      <div class="col-md-8">{{contrat.caution}}</div>

                  </div>
                  <hr>

                  <div class="row">
                      <div class="col-md-4">Prix effectif (en fcfa)</div>
                      <div class="col-md-8">{{contrat.prixEffectif}}</div>

                  </div>
                  <hr>

                  <div class="row">
                      <div class="col-md-4">Date effectif</div>
                      <div class="col-md-8">
                          {{contrat.dateEffectif | date:"dd/MM/yyyy"}}
                      </div>

                  </div>
                  <hr>

                  <div class="row">
                      <div class="col-md-4">Durée du contrat</div>
                      <div class="col-md-8">
                          {{contrat.dureeEnNbrDeMois}} mois
                      </div>

                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-md-4">Description du contrat</div>
                    <div class="col-md-8">
                        {{contrat.description}}
                    </div>

                </div>
                <hr>

              </div>
       
        <div class="col-md-4">
          <img 
        src="{{this.bienImmobillierService.bien_url+'/photoBien/'+contrat.bienImmobiliereBean.idBienImmo}}" 
        [title]="contrat.bienImmobiliereBean.nomBien| titlecase"  
        class="card-img-top" 
        [alt]="contrat.bienImmobiliereBean.nomBien"
        />
        </div>
      </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-outline-primary d-flex" (click)="backToList()">
            <span class="material-icons">keyboard_arrow_left</span>
            retour à la liste
        </button>
    </div>
</div>
</div>