<div class="container">
    <div class="card shadow mb-5">
        <table class="table table-striped">
            <tr class="bg-primary text-white"><td>idProjet</td><td>Nom projet</td><td>Localisation</td><td>Description</td></tr>
            <thead>
                <tr>
                    <th>Liste des projets</th>
                </tr>
            </thead>
            <tbody *ngFor="let projet of projets">
                <tr>
                    <td>{{projet.idProjet}}</td>
                    <td>{{projet.nomProjet}}</td>
                    <td>{{projet.localisation}}</td>
                    <td>{{projet.description}}</td>

                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn" [routerLink]="['/updateProjets', projet.idProjet]">
                        edit
                      </span>
                    </td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn" [routerLink]="['/projets', projet.idProjet]">
                        keyboard_arrow_right
                      </span>
                    </td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn" (click)="supprimerProjet(projet)">
                            delete
                        </span>
                        <!--<button class="btn btn-outline-danger mr-3" type="button" (click)="deleteVisite(visite)">supprimer</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>