<div *ngIf="currentbien" class="container">
    <div class="card">
        <div class="card-header text-white bg-success">
            {{pageTitle}}
        </div>
        <div class="card-body">
            <form novalidate (ngSubmit)="updateBien()" [formGroup]="bienForm">
                <div class="form-group row mb-2">
                    <label for="hotelNameId" class="col-md-2 col-form-label">
                        Nom bien
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="hotelNameId"
                            type="text" 
                            class="form-control" 
                            formControlName="nomBien"
                            placeholder="Nom(obligatoire)">
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="hotelPriceId" class="col-md-2 col-form-label">
                        Prix
                    </label>
                    <div class="col-md-8">
                        <input 
                           id="hotelPriceId"
                           type="number" 
                           class="form-control"
                           formControlName="prix" 
                           placeholder="Prix(obligatoire)">
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="starRatingId" class="col-md-2 col-form-label">
                        Evaluation (1-5)
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="starRatingId"
                            type="number" 
                            class="form-control"
                            formControlName="rating"
                            placeholder="Evaluation(1-5)">
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="descriptionId" class="col-md-2 col-form-label">
                        Description
                    </label>
                    <div class="col-md-8">
                        <textarea 
                             class="form-control" 
                             formControlName="description"
                             id="descriptionId">
                        </textarea>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="disponibleId" class="col-md-2 col-form-label">
                        Disponible
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="disponibleId"
                            type="text" 
                            class="form-control" 
                            formControlName="available"
                            placeholder="est disponible">
                    </div>
                </div>
                
                <div class="form-group row mb-2">
                    <label for="localisationId" class="col-md-2 col-form-label">
                        Localisation
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="localisationId"
                            type="text" 
                            class="form-control" 
                            formControlName="localisation"
                            placeholder="la localisation">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="tailleId" class="col-md-2 col-form-label">
                        Taille
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="tailleId"
                            type="number" 
                            class="form-control" 
                            formControlName="taille"
                            placeholder="la taille">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="selectionId" class="col-md-2 col-form-label">
                        Selectionner
                    </label>
                    <div class="col-md-8">
                        <input 
                            id="selectionId"
                            type="text" 
                            class="form-control" 
                            formControlName="selected"
                            placeholder="est selectionné">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="photoId" class="col-md-2 col-form-label">
                        Photo
                    </label>
                    <div class="col-md-8">
                        <img [src]="this.bienService.bien_url+'/photoBien/'+currentbien.idBienImmo+'?ts='+getTS()">
                        
                            <span *ngIf="!editPhoto" (click)="onEditPhoto(currentbien)" class="material-icons p-2 rounded-circle btn-outline-primary mr-1">image_search</span>
                        
                        <span *ngIf="editPhoto">
                            <input
                            type="file" (change)="onSelectedFile($event)"
                            class="form-control"
                            
                            placeholder="photo">
                            <button class="btn btn-success" (click)="chargerPhoto()">upload</button>
                            {{progress}}
                        </span>            
                    </div>
                </div>
                
    
                <div class="form-group row mb-2">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-outline-success mr-3" type="submit">sauvegarder</button>
                        <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/biens">annuler</button>
                        <!-- <button 
                               class="btn btn-outline-danger mr-3" 
                               type="button" 
                               [disabled]="bien.id === 0"
                               (click)="deleteBienImmo()"
                        >
                        supprimer</button> -->
                        
                    </div>
                </div>
            </form>
        </div>
        <!-- 
        <div class="alert alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          -->
    </div>
    </div>
    <pre>
        {{bienForm.value | json}}
    </pre>