<div class="container">
<div class="row col-md-8 offset-md-3 mt-4">
  <div class="card-content shadow mb-4 col-md-8">
    <div class="card-header text-white text-center bg-primary text-uppercase">
      login
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row mb-2">
          <label for="contratCautionId" class="col-md-2 col-form-label" >
            Username
          </label>
          <div class="col-md-8">
              <input 
               id="contratCautionId"
               type="text" 
               class="form-control"
               formControlName="caution"
               placeholder="Enter username">
          </div>
          
      </div>

      <div class="form-group row mb-2">
        <label for="contratCautionId" class="col-md-2 col-form-label" >
          Password
        </label>
        <div class="col-md-8">
            <input 
             id="passwordId"
             type="password" 
             class="form-control"
             formControlName="caution"
             placeholder="Password">
        </div>
        
    </div>
    <hr>
    <div class="text-right text-primary"> Mot de passe oublié?</div>

      </form>
    </div>
      
    <div class="card-footer">
      <button type="submit" class="btn btn-outline-primary">S'identifier
        <span class="material-icons-outlined">login</span>
      </button>
    </div>
    <hr>
    Vous n'avez pas encore de compte?<span class="text-primary"> S'inscrire maintenant</span>
  </div>
  
</div>
</div>
