<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header text-white text-center bg-primary text-uppercase">
            Liste des contrats
        </div>
        <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
            <thead>
                <tr class="text-center">
                    <th>caution</th><th>prixEffectif</th><th>dateEffectif</th><th>durée</th><th>description</th><th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let contrat of contrats" class="text-center">
                    <td>{{contrat.caution}}</td>
                    <td>{{contrat.prixEffectif}}</td>
                    <td>{{contrat.dateEffectif | date:"dd/MM/yyyy"}}</td>
                    <td>{{contrat.dureeEnNbrDeMois}} mois</td>
                    <td>{{contrat.description}}</td>
                   <!-- <td><a class="btn btn-outline-danger" (click)="deleteVisite(visite)">Supprimer</a></td> -->
                    <td>
                        <span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/updateContrats', contrat.idContrat]">
                        edit
                      </span>
        
                        <span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/contrats', contrat.idContrat]">
                            visibility
                      </span>
                        <span class="material-icons p-2 rounded-circle btn-outline-primary" (click)="supprimerContrat(contrat)">
                            delete
                        </span>
                        <!--<button class="btn btn-outline-danger mr-3" type="button" (click)="deleteVisite(visite)">supprimer</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary d-flex" [routerLink] = "['/add-contrat']">
            <span class="material-icons">add</span>
            ajouter un contrat
        </button>
    </div>
    </div>
</div>