<div class="container">
    <div class="card shadow mb-4">
    <div class="text-center bg-primary">
      <h2 class="card-header text-center bg-primary text-white" >Ajout d'une reclamation</h2>
    </div>
    <br>
    <div class="card-body">
    <form novalidate (ngSubmit)="ajouterReclamation()" [formGroup]="reclamationForm" >

        <div class="form-group row mb-2">
            <label for="reclamationCommentaireId" class="col-md-2 col-form-label" >
                Commentaire
            </label>
            <div class="col-md-8">
                <input 
                 id="reclamationCommentaireId"
                 type="textarea"
                 class="form-control"
                 formControlName="commentaire"
                 placeholder="Ecrivez votre reclamation !!!">
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="etat" class="col-md-2 col-form-label" >
                Etat
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="etat">
                    <option value="">Choisissez l'etat</option>
                    <option *ngFor="let etat of etats" [ngValue]="etat">{{etat.nomEtat}}</option>
                </select>
            </div>
            
        </div>

        <div class="form-group row mb-2">
            <label for="etat" class="col-md-2 col-form-label" >
                Contrat
            </label>
            <div class="col-md-8">
                <select class="form-control" formControlName="contrat">
                    <option value="">Choisissez le contrat</option>
                    <option *ngFor="let contrat of contrats" [ngValue]="contrat">{{contrat.idContrat}}</option>
                </select>
                <!--<input 
                 id="etatId"
                 type="textarea"
                 class="form-control"
                 formControlName="etat"
                 placeholder="Ecrivez l'état !!!">-->
            </div>
            
        </div>

        <div class="text-lg-right mt-2">
                <button type="submit"  class="btn btn-outline-primary mr-3">sauvegarder</button>
                <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/reclamations">annuler</button>
        </div>
    </form>
</div>
</div>
</div>