<div class="container">
          <div class="card" *ngIf="bien">
              <div class="card-header text-white bg-info">
                  {{bien.hotelName | uppercase}}
              </div>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">Nom:</div>
                            <div class="col-md-8">{{bien.hotelName}}</div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">Description:</div>
                            <div class="col-md-8">{{bien.description}}</div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">Prix:</div>
                            <div class="col-md-8">
                                {{bien.price | currency : 'fr' : 'symbol' : '1.0-0' : 'fr'}}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">Note:</div>
                            <div class="col-md-8">
                                <app-notation [rating]="bien.rating">
                                </app-notation>
                            </div>

                        </div>
                    </div>
    
              <div class="col-md-4">
                <img 
                    [src]="bien.imageUrl" 
                    [title]="bien.hotelName | titlecase"  
                    class="card-img-top" 
                    [alt]="bien.hotelName"
                />
              </div>
            </div>
          </div>

          <div class="card-footer">
              <button class="btn btn-outline-info d-flex" (click)="backToList()">
                  <span class="material-icons">keyboard_arrow_left</span>
                  retour à la liste
              </button>
          </div>
    </div>
</div>