<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header text-white text-center bg-primary text-uppercase">
            Liste des visites
        </div>
        <div class="card-body">
        <table class="table table-striped">
            <tr ><th>idVisite</th><th>Date viste</th><th>Heure visite</th><th>---------></th><th>Action</th><th><---------</th></tr>
            <tbody *ngFor="let visite of visites">
                <tr>
                    <td>{{visite.idVisite}}</td>
                    <td>{{visite.dateVisite | date:"dd/MM/yyyy"}}</td>
                    <td>{{visite.heureVisite }}</td>
                   <!-- <td><a class="btn btn-outline-danger" (click)="deleteVisite(visite)">Supprimer</a></td> -->
                    <td><span class="material-icons bg-primary text-white p-2 rounded-circle btn" [routerLink]="['/updateVisites', visite.idVisite]">
                        edit
                      </span>
                    </td>
                    <td><span class="material-icons bg-primary text-white p-2 rounded-circle btn" [routerLink]="['/visites', visite.idVisite]">
                        keyboard_arrow_right
                      </span>
                    </td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn" (click)="deleteVisite(visite)">
                            delete
                            </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary d-flex" [routerLink] = "['/add-visite']">
            <span class="material-icons">add</span>
            ajouter une visite
        </button>
    </div>
    </div>
</div>