<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header text-white text-center bg-primary text-uppercase">
            Liste des visites
        </div>
        <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
          <thead>
            <tr class="text-center">
                <th>Date viste</th><th>Heure visite</th><th>Action</th>
            </tr>
          </thead>
            <tbody>
                <tr  *ngFor="let visite of visites" class="text-center">
                    <td>{{visite.dateVisite | date:"dd/MM/yyyy"}}</td>
                    <td>{{visite.heureVisite }}</td>
                   <!-- <td><a class="btn btn-outline-danger" (click)="deleteVisite(visite)">Supprimer</a></td> -->
                    <td><span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/updateVisites', visite.idVisite]">
                        edit
                      </span>
                    <span class="material-icons p-2 rounded-circle btn-outline-primary mr-3" [routerLink]="['/visites', visite.idVisite]">
                        visibility
                      </span>
                    
                        <span class="material-icons p-2 rounded-circle btn-outline-primary" (click)="deleteVisite(visite)">
                            delete
                            </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary d-flex" [routerLink] = "['/add-visite']">
            <span class="material-icons">add</span>
            ajouter une visite
        </button>
    </div>
    </div>
</div>